In [2]:
import numpy as np 
from sklearn.neighbors import KNeighborsClassifier

In [3]:
import pandas as pd #读文件

In [4]:
#截取数据 sheet 获取excel的表格数量，这里获取不到。
movie = pd.read_excel('./data/movies.xlsx',Sheet_name=1)
movie

    电影名称  武打镜头  接吻镜头 分类情况  Unnamed: 4  Unnamed: 5  爱情片
0   大话西游    36     1  动作片         NaN         NaN  动作片
1    杀破狼    43     2  动作片         NaN         NaN  NaN
2    前任3     0    10  爱情片         NaN         NaN  NaN
3    战狼2    59     1  动作片         NaN         NaN  NaN
4  泰坦尼克号     1    15  爱情片         NaN         NaN  NaN
5   星语心愿     2    19  爱情片         NaN         NaN  NaN

In [7]:
X_train = movie.iloc[:,1:3] #行都截取，列截取1- 3 列。
Y_train = movie['分类情况']
display(X_train,Y_train)

   武打镜头  接吻镜头
0    36     1
1    43     2
2     0    10
3    59     1
4     1    15
5     2    19

0    动作片
1    动作片
2    爱情片
3    动作片
4    爱情片
5    爱情片
Name: 分类情况, dtype: object

In [8]:
#模型 ，让机械学习  找合适的模型。也就是算法
knn = KNeighborsClassifier(n_neighbors=5)

In [9]:
#进行训练。
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [10]:
#测试数据，为什么是二位的，因为你给他看的数据也是二维的，这里是对应的关系。 你给他武打镜头，和接吻镜头，你给他传的也是二维的。
X_test = np.array([[108,20],[3,100]])
knn.predict(X_test)
#得出来了，

array(['动作片', '爱情片'], dtype=object)